.app-container {
  display: flex;
}

.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

.editor {
  width: 60%;
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 80vh;
}

.property-editor {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

/* Login and Signup */
.log_div {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_box {
  width: 95%;
  max-width: 340px;
  padding: 15px 5px;
  border-radius: 5px;
  background-color: white;
}

.form_box h2 {
  padding-bottom: 10px;
}

.form_box p {
  padding: 0 5px;
  margin: 3px 0 1px 0;
  font-size: 12px;
}

.form_input {
  padding: 10px 5px;
}

.form_input input {
  width: 90%;
  font-size: 16px;
  padding: 7px 10px;
}

.center_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_btn button {
  width: 100%;
  font-size: 16px;
}

.spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid black;
  animation: spin 1s linear infinite;
  margin: 5px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
