.app-container {
  display: flex;
}

.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

.editor {
  width: 60%;
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 80vh;
}

.property-editor {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
}

/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}
